@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
  --ff: "Inter", sans-serif;
}

html {
  font-family: var(--ff);
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(14, 78, 112);
}

h1 {
  color: rgb(197, 234, 255);
}

label {
  color: white;
  font-weight: 300;
}

.in_form {
  display: flex;
  flex-direction: column;
}

.in_field {
  margin: 3px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.in_field input {
  margin: 0 0 0 20px;
  width: 50px;
  height: 25px;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game {
  margin: 30px 0;
  padding: 3px;
  background-color: rgb(160, 193, 209);
  border-radius: 5px;
  border: 1px solid rgb(99, 113, 129);
  display: grid;
  grid-gap: 2px;
  box-shadow: 0 25px 50px 25px rgba(0, 0, 0, 0.2);
}

.cell {
  position: relative;
  border-radius: 5px;
  background-color: rgb(226, 236, 241);
  border: 1px solid rgb(78, 116, 160);
  width: 20px;
  height: 20px;
}

.r-0 {
  grid-row: 1 / 2;
}

.c-0 {
  grid-column: 1 / 2;
}

button {
  margin: 5px;
  width: 150px;
  height: 30px;
}

.cell::before {
  font-weight: 700;
  position: absolute;
  width: 20px;
  text-align: center;
}

.empty {
  background-color: rgb(184, 216, 238);
}

.mine {
  background-color: rgb(255, 180, 180);
}

.mine::before {
  content: "M";
}

.ar1::before {
  content: "1";
  color: blue;
}

.ar2::before {
  content: "2";
  color: green;
}

.ar3::before {
  content: "3";
  color: red;
}

.ar4::before {
  content: "4";
  color: brown;
}

.ar5::before {
  content: "5";
  color: purple;
}

.ar6::before {
  content: "6";
}

.ar7::before {
  content: "7";
}
